<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>ShowTopsAndBottoms</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.mekkablue.ShowTopsAndBottoms</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShowTopsAndBottoms</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/mekkablue/ShowTopsAndBottoms/master/ShowTopsAndBottoms.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/mekkablue/ShowTopsAndBottoms</string>
	<key>productReleaseNotes</key>
	<string>Fixed shoulderHeight and smallcapHeight parameter query.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Rainer Erich Scheichelbauer, 2015-2018</string>
	<key>NSPrincipalClass</key>
	<string>ShowTopsAndBottoms</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
